{% extends 'layouts/base.html' %}

{% block title %}
Editar - {{municipio.nome}}
{% endblock title %}

{% block content %}


<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">{{municipio.nome}}</h2>
                    <h5 class="text-white op-7 mb-2">Visão geral</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">

                    {% if municipio.empresa|length == 0 %}
                    <a href="{{url_for('empresa.cadastrar')}}" class="btn btn-white  btn-round mr-2"><span
                            class="btn-label mr-2"> <i class="fa fa-plus-circle"></i></span>Template</a>
                    {% endif %}
                    <a href="{{url_for('principal.index')}}" class="btn btn-default  btn-round mr-2"><span
                            class="btn-label mr-2"><i class="fas fa-home"></i></span> Página Inicial</a>
                    <a href="{{url_for('municipio.excluir_municipio',_id=municipio.id)}}" class="btn btn-danger btn-round">
                        <span class="btn-label"><i class="fas fa-trash"></i></span>Excluir </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-9">
                <div class="card full-height">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">Dados:</div>
                                <div class="card-tools">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="nome">Nome do municipio:</label>
                                    <input type="text" name="nome" id="nome" class="form-control"
                                        value="{{municipio.nome}}" required>
                                </div>

                                <div class="form-group">
                                    <label for="felicidade"> Felicidade:</label>
                                    <br>
                                    <div class="form-check-inline custom-none">
                                        <input id="radio-1" name="felicidade" value="11" type="radio" checked>
                                        <label for="radio-1"></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-1" name="felicidade" value="1" type="radio">
                                        <label for="radio-1">1 <i class="fas fa-sad-cry marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-2" name="felicidade" value="2" type="radio">
                                        <label for="radio-2">2 <i class="fas fa-angry marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-3" name="felicidade" value="3" type="radio">
                                        <label for="radio-3">3 <i class="fas fa-tired marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-4" name="felicidade" value="4" type="radio">
                                        <label for="radio-4">4 <i class="fas fa-grimace marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-5" name="felicidade" value="5" type="radio">
                                        <label for="radio-5">5 <i class="fas fa-sad-tear marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-6" name="felicidade" value="6" type="radio">
                                        <label for="radio-6">6 <i class="fas fa-frown marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-7" name="felicidade" value="7" type="radio">
                                        <label for="radio-7">7 <i class="fas fa-meh marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-8" name="felicidade" value="8" type="radio">
                                        <label for="radio-8">8 <i class="fas fa-smile marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-9" name="felicidade" value="9" type="radio">
                                        <label for="radio-9">9 <i class="fas fa-grin-squint marginL"></i></label>
                                    </div>
                                    <div class="form-check-inline custom-radio">
                                        <input id="radio-10" name="felicidade" value="10" type="radio">
                                        <label for="radio-10">10 <i class="fas fa-grin-hearts marginL"></i></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="CPF">Número do CPF:</label>
                                    <input type="number" name="CPF" id="CPF" class="form-control" placeholder=""
                                        value="{{municipio.CPF}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="RG">Número do RG:</label>
                                    <input type="number" name="RG" id="RG" class="form-control" placeholder=""
                                        value="{{municipio.RG}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="data">Data de nascimento:</label>
                                    <input type="text" name="data_de_nascimento" id="data" class="form-control"
                                        placeholder="Ex: 25-04-1989" value="{{municipio.data_de_nascimento}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="sexo">Sexo:</label>
                                    <input type="text" name="sexo" id="sexo" class="form-control"
                                        placeholder="Ex: Masculino" value="{{municipio.sexo}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="end">Endereço:</label>
                                    <input type="text" name="endereco" id="end" class="form-control"
                                        placeholder="Rua Maria Alves, 200 Bairro das Palmmeiras, Pythonlandia - MG"
                                        value="{{municipio.endereco}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="cel">Telefone - Celular:</label>
                                    <input type="number" name="telefone_cel" id="cel" class="form-control"
                                        placeholder="99-99999999" value="{{municipio.telefone_cel}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail:</label>
                                    <input type="text" name="email" id="email" class="form-control" placeholder="email@"
                                        value="{{municipio.email}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="fixo">Telefone - Fixo:</label>
                                    <input type="number" name="telefone_fixo" id="telefone_fixo" class="form-control"
                                        placeholder="99-99999999" value="{{municipio.telefone_fixo}}">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Salvar" class="btn btn-success btn-block">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}