{% extends 'layouts/base.html' %}

{% block title %}
Municípios
{% endblock title %}

{% block content %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Municípios</h2>
                    <h5 class="text-white op-7 mb-2">Visão geral</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="{{url_for('municipio.cadastrar')}}" class="btn btn-white  btn-round mr-2"><span
                            class="btn-label mr-2">
                            <i class="fa fa-plus-circle"></i></span>Município</a>

                    <a href="{{url_for('principal.index')}}" class="btn btn-default  btn-round mr-2"><span
                            class="btn-label mr-2"><i class="fas fa-home"></i></span> Página Inicial</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-6">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Coleta</div>
                        <div class="card-category">Informações sobre as coletas</div>
                        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-1"></div>
                                <h6 class="fw-bold mt-3 text-uppercase mb-0">Total</h6>
                            </div>
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-2"></div>
                                <h6 class="fw-bold mt-3 text-uppercase mb-0">Outra coisa</h6>
                            </div>
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-3"></div>
                                <h6 class="fw-bold text-uppercase mt-3 mb-0">Outra</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Validação</div>
                        <div class="card-category">
                            Informações sobre as validações
                        </div>
                        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-4"></div>
                                <h6 class="fw-bold mt-3 text-uppercase text-danger op-8 mb-0">Número de itens validados</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">Lista de municípios</h4>
                        </div>
                        <p class="card-category">
                            Todos a serem validados:</p>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive table-hover table-sales">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Pesquisar:</span>
                                </div>
                                <input name="consulta" id="txt_consulta" type="text" class="form-control"
                                    placeholder="Nome ou ID" aria-label="Pesquisar"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                            <table id="tabela" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Ref</th>
                                        <th scope="col">ID ibge</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Nome formatado</th>
                                        <th scope="col">Template</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for municipio in municipios %}
                                    <tr>
                                        <th scope="row">{{municipio.id}}</th>
                                        <td>{{municipio.id_ibge}} </td>
                                        <td><a href="{{url_for('municipio.perfil',_id=municipio.id)}}">{{municipio.nome}}</a>
                                        </td>
                                        <td>{{municipio.nome_formatado}} </td>
                                        {% if municipio.empresa|length == 0 %}
                                        <td>-</td>
                                        {% endif %}
                                        {% if municipio.empresa|length > 0 %}
                                        {% for empresa in municipio.empresa %}
                                        <td>{{empresa.nome}}</td>
                                        {% endfor %}
                                        {% endif %}

                                    </tr>
                                    {% endfor %}

                                    <script>
                                        $('input#txt_consulta').quicksearch('table#tabela tbody tr'); 
                                    </script>
                                </tbody>
                            </table>

                            <a class="btn btn-primary btn-lg btn-block" href="{{url_for('municipio.cadastrar')}}"> <i
                                    class="fas fa-user-plus"></i>
                                Cadastrar município</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
    var n_cid = '{{n_cidadaos}}';
    Circles.create({
        id: 'circles-1',
        radius: 45,
        value: 1,
        maxValue: 1,
        width: 7,
        text: n_cid,
        colors: ['#f1f1f1', '#33b0b5'],
        duration: 10,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })
    var media = '{{media}}';
    Circles.create({
        id: 'circles-2',
        radius: 45,
        value: media,
        maxValue: 10,
        width: 7,
        text: media,
        colors: ['#f1f1f1', '#2BB930'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })
    var baixo = '{{baixo}}';
    Circles.create({
        id: 'circles-3',
        radius: 45,
        value: baixo,
        maxValue: n_cid,
        width: 7,
        text: baixo,
        colors: ['#f1f1f1', '#F25961'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })
    var n_marcados = '{{n_marcados}}';
    Circles.create({
        id: 'circles-4',
        radius: 45,
        value: n_marcados,
        maxValue: n_cid,
        width: 7,
        text: n_marcados,
        colors: ['#f1f1f1', '#F25961'],
        duration: 10,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })

    var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

    var mytotalIncomeChart = new Chart(totalIncomeChart, {
        type: 'bar',
        data: {
            labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
            datasets: [{
                label: "Total Income",
                backgroundColor: '#e3e3e3',
                borderColor: 'rgb(23, 125, 255)',
                data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 1],
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        display: false //this will remove only the label
                    },
                    gridLines: {
                        drawBorder: false,
                        display: false
                    }
                }],
                xAxes: [{
                    gridLines: {
                        drawBorder: false,
                        display: false
                    }
                }]
            },
        }
    });
</script>

{% endblock javascripts %}