{% extends 'layouts/base.html' %}

{% block title %}
Remover Template
{% endblock title %}

{% block content %}


<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">{{municipio.nome}}</h2>
                    <h5 class="text-white op-7 mb-2">Remover template</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">

                    <a href="{{url_for('municipio.perfil',_id=municipio.id)}}" class="btn btn-white btn-round mr-2>
                        <span class=" btn-label mr-1"><i class="fa fa-reply" aria-hidden="true"></i></span>Voltar </a>
                    <a href="{{url_for('principal.index')}}" class="btn btn-default  btn-round mr-2"><span
                            class="btn-label mr-1"><i class="fas fa-home"></i></span> Página Inicial</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">
                                Remover o municipio "{{ municipio.nome }}" da template
                                "{{empresa.nome}}"?
                            </h4>
                            <div class="card-tools">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <form action="" method="POST">
                            <input type="submit" value="Sim" class="btn btn-danger btn-lg btn-block mb-3">
                        </form>

                        <form action="{{url_for('municipio.perfil',_id=municipio.id)}}">
                            <input type="submit" value="Não" class="btn btn-success btn-lg btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}