.custom-radio input{
    display: none;
  }

  .custom-none input{
    display: none;
  }


  .custom-radio input + label:before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: #1a2035;
    border: 2px solid #2f374b;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 3px;
  }
  
  
  .custom-radio input:checked + label:before {
    background-color: #33b0b5;
    background-position: center;
    border: none;
    padding: 1px;
  }


  .custom-check input{
    display: none;
  }


  .custom-check input + label:before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 3px;
  }
  
  
  .custom-check input:checked + label:before {
    background-color: #33b0b5;
    background-position: center;
    border: none;
    padding: 1px;
  }

.marginR{
  margin-right: 16px;
}
.marginL{
  margin-left: 4px;
}

.displayIB{
  display: inline-block;
}

.displayI{
  display: inline;
}

.displayB{
  display: block;
}


.button{
  text-align: justify;
}

.container{
  min-height: 40vw;
}