{% extends 'layouts/base.html' %}

{% block title %}
Editar - {{empresa.nome}}
{% endblock title %}

{% block content %}


<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">{{empresa.nome}}</h2>
                    <h5 class="text-white op-7 mb-2">Visão geral</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="{{url_for('principal.index')}}" class="btn btn-default  btn-round mr-2"><span
                            class="btn-label mr-2"><i class="fas fa-home"></i></span> Página Inicial</a>
                    <a href="{{url_for('empresa.excluir_empresa',_id_empresa=empresa.id)}}"
                        class="btn btn-danger btn-round">
                        <span class="btn-label"><i class="fas fa-trash"></i></span>Excluir </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-9">
                <div class="card full-height">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">Dados:</div>
                                <div class="card-tools">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="" method="POST">
                                <label for="nome">Nome do template:</label>
                                <input type="text" name="nome" id="nome" class="form-control"
                                    value="{{empresa.nome}}">
                                <input type="submit" value="Editar" class="btn btn-success btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}