{% extends 'layouts/base.html' %}

{% block title %}
Templates
{% endblock title %}

{% block navbarleft %}
<h3>Templates</h3>
{% endblock navbarleft %}
{% block content %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Templates</h2>
                    <h5 class="text-white op-7 mb-2">Visão geral dos templates</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="{{url_for('empresa.cadastrar')}}" class="btn btn-white  btn-round mr-2"><span
                            class="btn-label mr-2"> <i class="fa fa-plus-circle"></i></span>Template</a>

                    <a href="{{url_for('empresa.cadastrar')}}" class="btn btn-default  btn-round mr-2"><span
                            class="btn-label mr-2"><i class="fas fa-home"></i></span> Página Inicial</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-6">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Estatisticas Gerais</div>
                        <div class="card-category">Informações diárias das do sistema</div>
                        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-1"></div>
                                <h6 class="fw-bold mt-3 mb-0">Número de Templates</h6>
                            </div>
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-2"></div>
                                <h6 class="fw-bold mt-3 mb-0">Finalizados</h6>
                            </div>
                            {% if prejuizo %}
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                <div id="circles-3"></div>
                                <h6 class="fw-bold mt-3 mb-0">com Prejuízo</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="card-title">Gráficos</div>
                        <div class="card-category"></div>
                        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                            <div class="px-2 pb-2 pb-md-0 text-center">
                                {% if valor_total >= 0 %}
                                <div>
                                    <br>
                                </div>
                                {% else %}
                                <div>
                                    <br>
                                    <h3 class="fw-bold text-uppercase text-danger op-8">Total líquido:</h3>
                                    <h1 class="fw-bold"> R${{valor_total}}</h1>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">Templates</h4>
                        </div>
                        <p class="card-category">
                            {% if empresas|length > 0 %}
                            Todos a serem cobertos:
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-hover table-sales">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Pesquisar:</span>
                                </div>
                                <input name="consulta" id="txt_consulta" type="text" class="form-control"
                                    placeholder="Nome" aria-label="Pesquisar"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                            <table id="tabela" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Felicidade Média</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Labels</th>
                                        <th scope="col">Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empresa in empresas %}
                                    <tr>
                                        <th scope="row">{{empresa.id}}</th>
                                        <td><a
                                                href="{{url_for('empresa.perfil',_id_empresa=empresa.id)}}">{{empresa.nome}}</a>
                                        </td>
                                        <td>{{empresa.tipo}}</td>
                                        <td><a
                                                href="{{url_for('empresa.editar_empresa',_id_empresa=empresa.id)}}"><i
                                                    class="fas fa-edit"></i></a>
                                            <a
                                                href="{{url_for('empresa.excluir_empresa',_id_empresa=empresa.id)}}"><i
                                                    class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    <script>
                                        $('input#txt_consulta').quicksearch('table#tabela tbody tr'); 
                                    </script>
                                </tbody>
                            </table>
                            {% endif %}
                            <a class="btn btn-primary btn-block" href="{{url_for('empresa.cadastrar')}}">Cadastrar
                                Template</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var n_ass = '{{quantidade}}';
    Circles.create({
        id: 'circles-1',
        radius: 45,
        value: 1,
        maxValue: 1,
        width: 7,
        text: n_ass,
        colors: ['#f1f1f1', '#FF9E27'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })
    var com_lucro = '{{ lucro }}';
    Circles.create({
        id: 'circles-2',
        radius: 45,
        value: com_lucro,
        maxValue: n_ass,
        width: 7,
        text: com_lucro,
        colors: ['#f1f1f1', '#2BB930'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })
    var prejuizo = '{{ prejuizo }}';
    Circles.create({
        id: 'circles-3',
        radius: 45,
        value: prejuizo,
        maxValue: n_ass,
        width: 7,
        text: prejuizo,
        colors: ['#f1f1f1', '#F25961'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        styleWrapper: true,
        styleText: true
    })

    var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

    var grafico = '{{ empresas|length }}';

    var nomes = '{{ nomes }}';

    var mytotalIncomeChart = new Chart(totalIncomeChart, {
        type: 'bar',
        data: {
            labels:
                nomes,
            datasets: [{
                label: "Total Income",
                backgroundColor: '#e3e3e3',
                borderColor: 'rgb(23, 125, 255)',
                data: [grafico, 4, 9, 5, 4, 6, 4, 3, 8, 1],
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        display: false //this will remove only the label
                    },
                    gridLines: {
                        drawBorder: false,
                        display: false
                    }
                }],
                xAxes: [{
                    gridLines: {
                        drawBorder: false,
                        display: false
                    }
                }]
            },
        }
    });

</script>

{% endblock javascripts %}