{% extends 'layouts/base.html' %}

{% block title %}
Coletores
{% endblock title %}

{% block navbarleft %}
<h3>Coletores</h3>
{% endblock navbarleft %}
{% block content %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Coletores</h2>
                    <h5 class="text-white op-7 mb-2">Visão geral</h5>
                </div>

                <div class="ml-md-auto py-2 py-md-0">

                    <a href="{{url_for('coletor.sincronizar')}}" class="btn btn-white  btn-round mr-2"><span
                            class="btn-label mr-2"> <i class="icon-refresh"></i></span>Sincronizar com github</a>
                    <a href="{{url_for('api_de_integracao.index')}}" class="btn btn-default  btn-round mr-2"><span
                            class="btn-label mr-2"><i class="fas fa-home"></i></span> Página Inicial</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <!-- <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">Todos:</h4>
                        </div> -->
                        <p class="card-category">
                            Todos os coletores:
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-hover table-sales">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Pesquisar:</span>
                                </div>
                                <input name="consulta" id="txt_consulta" type="text" class="form-control"
                                    placeholder="Nome, template tag ou subtag" aria-label="Pesquisar"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                            <table id="tabela" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Template</th>
                                        <th scope="col">Tag</th>
                                        <th scope="col">Subtag</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empresa in coletores %}
                                    <tr>
                                        <th scope="row">{{empresa.id}}</th>
                                        <td><a
                                                href="{{url_for('empresa.perfil',_id_empresa=empresa.id)}}">{{empresa.nome}}</a>
                                        </td>
                                        <td> 
                                            -
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <th>
                                            -
                                        </th>
                                    </tr>
                                    {% endfor %}

                                    <script>
                                        $('input#txt_consulta').quicksearch('table#tabela tbody tr'); 
                                    </script>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}